html body {
  background-color: #212121;
  color: white;
  height: 100vh;
}
.first-row{
  margin-top: 10vh;
}
.modal-content{
  background-color: #212121;
  color: white;
}
.card{
  color:black;
  background-color: #474747;
}
.card-header{
  background-color: #2e2e2e;
}
.btn-link{
  color: white;
  text-decoration: none;
}
.btn-link:hover {
    color: #474747;
    text-decoration: none;
}
.btn-link:focus {
  text-decoration: none;
}
.table-dark{
  background-color: #545454
}
.table-dark td, .table-dark th, .table-dark thead th{
  border-color:#3a3a3a;
}
.icon{
  filter: invert(6%) sepia(9%) saturate(793%) hue-rotate(251deg) brightness(95%) contrast(91%);
}
.btn-save{
  background-color: #516AEC;
}
.btn-add{
  background-color: #379A37;
}
.btn-open{
  background-color: #159393;
}
.btn-delete{
  background-color: #CA402B;
}
.form-control{
  color:white;
  background-color:#474747;
}
.form-control:hover{
  color:white;
  background-color:#474747;
}
.form-control:focus{
  color:white;
  background-color:#474747;
}
